{% extends "layout.html" %}
{% block body %}
    {% if session.logged_in %}
        <form action = "{{ url_for('add_entry') }}" method = post class = add-entry>
            <dl>
                <dt> Title:
                <dd> <input type = text size = 30 name = title>
                <dt> Source:
                <dd> <input type = text size = 30 name = source>
                <dd> <input type = submit value = Add>
            </dl>
        </form>
    {% endif %}
    
    <form action = "{{ url_for('search') }}" method = post class = search>
        <dl>
            <dt> Search:
            <dd> <input type = text size = 30 name = key_string>
            <dd> <input type = submit value = Search>
        </dl>
    </form>

    <ul class = entries>
    {% for entry in entries %}
        <li> <h2> {{ entry.title }} </h2> {{ entry.source|safe }}
    {% else %}
        <li> <em> No entries so far ! </em>
    {% endfor %}
    </ul>
{% endblock %}
